{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-wraper">
    <div id="loading-area"></div>
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        {% for head in blog_head %}
        {% if head.is_active %}
        <div class="bnr-inr bg-pt" style="background-image:url({{head.background_image.url}});">
            <div class="container">
                <div class="bnr-inr-entry">
                    <h1>{{head.title}}</h1>
                    <!--Breadcrumb row-->
                    <div class="breadcrumb-row">
                        <ul class="list-inline">
                            <li><a href="">Home</a></li>
                            <li>Blog</li>
                        </ul>
                    </div>
                    <!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- inner page banner END -->
        <div class="content-area">
            <div class="container">
                <div class="row">
                    <!-- left part start -->
                    <div class="col-lg-9 col-md-7">
                        <div class="row">
                            <!-- blog grid  -->
                            <div id="masonry" class="blog-grid-2">

                                {% for blog in blog %}
                                <div class="post card-container col-lg-6 col-md-12 col-sm-12 mb-4">
                                    <div class="blog-grid blog-rounded theme-blog">
                                        <div class="post-media img-effect "><a
                                                href="{% url 'blog:blog-detail' blog.pk %}">
                                            <img src="{{blog.blog_image.url}}" alt=""></a>
                                            <ul class="blog-categories">
                                                <li><a href="#">{{blog.blog_category}}</a></li>

                                            </ul>
                                        </div>
                                        <div class="info p-tb20">
                                            <div class="post-title ">

                                                <h4 class="post-title fw5"><a
                                                        href="{% url 'blog:blog-detail' blog.pk %}">{{blog.blog_title}}</a>
                                                </h4>
                                            </div>
                                            <div class="post-meta">
                                                <ul>
                                                    <li class="post-date">{{blog.date_published}}</li>
                                                    <li class="post-author">By <a href="#">{{blog.author}}</a></li>
                                                    <li class="post-comment"><a href="#">0 Comments</a></li>
                                                </ul>
                                            </div>
                                            <div class="post-text">
                                                <p>{{blog.description|safe|slice:"300"}}..</p>
                                            </div>
                                            <div class="post-readmore blog-share">
                                                <a href="{% url 'blog:blog-detail' blog.pk %}" title="Read More"
                                                   rel="bookmark"
                                                   class="site-button-link border-link sharp">Read More
                                                    <i class="fa fa-angle-double-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}


                            </div>
                            <!-- blog grid END -->
                            <!-- Pagination start -->
                            <div class="pagination-bx clearfix text-center col-md-12">
                                <ul class="pagination">
                                    {% if blog.has_previous %}
                                    <li class=""><a href="?page=1">1</a></li>
                                    <li class="previous"><a href="?page={{blog.previous_page_number}}"><i
                                            class="ti-arrow-left"></i> Prev</a></li>
                                    {% endif %}

                                    {% for num in blog.paginator.page_range %}
                                    {% if blog.number == num %}
                                    <li class="active"><a href="?page={{num}}">{{num}}</a></li>
                                    {% elif num > blog.number|add:'-3' and blog.number|add:'3' %}
                                    <li class=""><a href="?page={{num}}">{{num}}</a></li>
                                    {% endif %}
                                    {% endfor %}

                                    {% if blog.has_next %}

                                    <li class="next"><a href="?page={{blog.next_page_number}}">Next <i
                                            class="fa fa-angle-double-right"></i></a></li>
                                    {% endif %}


                                </ul>
                            </div>
                            <!-- Pagination END -->
                        </div>
                    </div>
                    <!-- left part start -->
                    <!-- Side bar start -->
                    <div class="col-lg-3 col-md-5 sticky-top">
                        <aside class="side-bar">
                            <div class="widget">
                                <h6 class="widget-title style-1">Search</h6>
                                <div class="search-bx style-1">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="text" class="form-control" placeholder="Enter your keywords..."
                                                   type="text">
                                            <span class="input-group-btn">
												<button type="submit" class="fa fa-search text-primary"></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget recent-posts-entry">
                                <h6 class="widget-title style-1">Recent Posts</h6>
                                <div class="widget-post-bx">
                                    {% for blog in blog %}
                                    <div class="widget-post clearfix">
                                        <div class="post-media"><img
                                                src="{{blog.blog_image.url}}" width="200"
                                                height="143" alt=""></div>
                                        <div class="post-info">
                                            <div class="post-header">
                                                <h6 class="post-title"><a href="#">{{blog.blog_title}}</a></h6>
                                            </div>
                                            <div class="post-meta">
                                                <ul>
                                                    <li class="post-author">{{blog.author}}</li>
                                                    <li class="post-comment"><i class="ti-comment-alt"></i> 28</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="widget widget-newslatter">
                                <h6 class="widget-title style-1">Newsletter</h6>
                                <div class="news-box">
                                    <p>Enter your e-mail and subscribe to our newsletter.</p>
                                    <form class="dazSubscribe" action="script/mailchamp.php" method="post">
                                        <div class="dazSubscribeMsg"></div>
                                        <div class="input-group">
                                            <input name="dzEmail" required="required" type="email" class="form-control"
                                                   placeholder="Your Email"/>
                                            <button name="submit" value="Submit" type="submit"
                                                    class="site-button btn-block radius-no">Subscribe Now
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="widget widget_gallery gallery-grid-4">
                                <h6 class="widget-title style-1">Our services</h6>
                                <ul>
                                    {% for blog in blog %}
                                    <li>
                                        <div><a href="#" class="post-thum ' %}-overlay1 img-effect zoom-slow"><img
                                                src="{{blog.blog_image.url}}" alt=""></a></div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="widget widget_archive">
                                <h6 class="widget-title style-1">Categories List</h6>
                                <ul>
                                    {% for blog in blog %}
                                    <li><a href="#">{{blog.blog_category}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="widget widget-project">
                                <h6 class="widget-title style-1">Our Project</h6>
                                <div class="widget-project-box owl-none owl-loaded owl-theme owl-carousel dots-style-1 owl-dots-black-full">
                                    {% for blog in blog %}
                                    <div class="item"><img src="{{blog.blog_image.url}}" alt=""/>
                                    </div>
                                    {% endfor %}

                                    <!--                                    <div class="item"><img src="{% static 'images/our-services/pic2.jpg' %}" alt=""/>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="item"><img src="{% static 'images/our-services/pic3.jpg' %}" alt=""/>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>

                            <div class="widget widget_tag_cloud radius">
                                <h6 class="widget-title style-1">Tags</h6>
                                <div class="tagcloud">
                                    <a href="#">Design</a>
                                    <a href="#">User interface</a>
                                    <a href="#">SEO</a>
                                    <a href="#">WordPress</a>
                                    <a href="#">Development</a>
                                    <a href="#">Joomla</a>
                                    <a href="#">Design</a>
                                    <a href="#">User interface</a>
                                    <a href="#">SEO</a>
                                    <a href="#">WordPress</a>
                                    <a href="#">Development</a>
                                    <a href="#">Joomla</a>
                                    <a href="#">Design</a>
                                    <a href="#">User interface</a>
                                    <a href="#">SEO</a>
                                    <a href="#">WordPress</a>
                                    <a href="#">Development</a>
                                    <a href="#">Joomla</a>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
    <!-- scroll top button -->
    <button class="scroltop fa fa-chevron-up"></button>
</div>
{% endblock content %}