<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="" />
	<meta property="og:title" content="ZESTO - Consulting, Corporate Business Template" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>ZESTO - Consulting, Corporate Business Template</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-area"></div>

    <!-- header -->
    <header class="daz-header header mobile-nav header-style-1">
		<div class="topbar">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="topbar-left">
						<ul class="top-author-link">
							<li><a href="about-1.html">About</a></li>
							<li><a href="faq.html">FAQ,s</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><i class="ti-email m-r5"></i> info@example.com</li>
						</ul>
					</div>
					<div class="topbar-right topbar-social">
						<ul>
							<li><a href="#" class="site-button circle-sm facebook hover"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="site-button circle-sm google-plus hover"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="site-button circle-sm twitter hover"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="site-button circle-sm instagram hover"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="site-button circle-sm linkedin hover"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" class="site-button circle-sm youtube hover"><i class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- main header -->
        <div class="header-sticky menu-bar-content navbar-expand-lg">
            <div class="main-bar clearfix bg-primary">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="daz-logo logo-white">
						<a href="index.html"><img src="images/logo-white.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarLeft" aria-controls="navbarLeft" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <div class="secondary-nav">
                        <div class="secondary-cell">
                            <button id="daz-search-btn" type="button" class="site-button-link white"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <!-- Quik search -->
                    <div class="daz-search bg-primary">
                        <form action="#">
                            <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
                            <span id="daz-search-remove"><i class="flaticon-cancel"></i></span>
                        </form>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarLeft">
						<ul class="nav navbar-nav">	
							<li class="active"><a href="#">Home<i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="index.html" class="dez-page">Home 1</a></li>
									<li><a href="index-2.html" class="dez-page">Home 2</a></li>
									<li><a href="index-3.html" class="dez-page">Home 3</a></li>
									<li><a href="index-4.html" class="dez-page">Home 4</a></li>
								</ul>	
							</li>
							<li><a href="#">Pages <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="#">About Us <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="about-1.html" class="dez-page">About Us 1</a></li>
											<li><a href="about-2.html" class="dez-page">About Us 2</a></li>
										</ul>
									</li>
									<li><a href="#">Our Team <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="team-1.html" class="dez-page">Our Team 1</a></li>
											<li><a href="team-2.html" class="dez-page">Our Team 2</a></li>
										</ul>
									</li>
									<li><a href="mission-and-vission.html" class="dez-page">Mission & Vission</a></li>
									<li><a href="management.html" class="dez-page">Management</a></li>
									<li><a href="our-history.html" class="dez-page">Our history</a></li>
									<li><a href="testimonial.html" class="dez-page">Testimonial</a></li>
									<li><a href="error-404.html" class="dez-page">Error 404</a></li>
									<li><a href="faq.html" class="dez-page">FAQ's</a></li>
								</ul>
							</li>
							<li><a href="#">Services <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a class="dez-page" href="service-financial-planning.html">Financial Planning </a></li>
									<li><a class="dez-page" href="service-software-and-research.html">Software & Research</a></li>
									<li><a class="dez-page" href="service-business-services.html">Business Services  </a></li>
									<li><a class="dez-page" href="service-quality-resourcing.html">Quality Resourcing </a></li>
									<li><a class="dez-page" href="service-travel-and-aviation.html">Travel and Aviation</a></li>
									<li><a class="dez-page" href="service-healthcare-services.html">Healthcare Services</a></li>
								</ul>
							</li>
							<li><a href="#">Blog <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="blog-grid-2.html" class="dez-page">Blog Grid 2</a></li>
									<li><a href="blog-grid-2-sidebar.html" class="dez-page">Blog Grid 2 Sidebar</a></li>
									<li><a href="blog-grid-3.html" class="dez-page">Blog Grid 3</a></li>
									<li><a href="blog-grid-3-sidebar.html" class="dez-page">Blog Grid 3 Sidebar</a></li>
									<li><a href="blog-grid-4.html" class="dez-page">Blog Grid-4</a></li>
									<li><a href="blog-half-img-sidebar.html" class="dez-page">Blog Half Img Sidebar</a></li>
									<li><a href="blog-large-img-sidebar.html" class="dez-page">Blog Large Img Sidebar</a></li>
									<li><a href="blog-single.html" class="dez-page">Blog Single</a></li>
									<li><a href="blog-single-sidebar.html" class="dez-page">Blog Single Sidebar</a></li>
								</ul>
							</li>
							<li><a href="#">Our Portfolio <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="portfolio-grid-2.html" class="dez-page">Portfolio Grid 2 </a></li>
									<li><a href="portfolio-grid-3.html" class="dez-page">Portfolio Grid 3 </a></li>
									<li><a href="portfolio-grid-4.html" class="dez-page">Portfolio Grid 4 </a></li>
									<li><a href="portfolio-full-width.html" class="dez-page">Portfolio Full Width  </a></li>
									<li><a href="portfolio-details.html" class="dez-page">Portfolio Details</a></li>
								</ul>
							</li>
							<li><a href="#">Feature <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="#">Header <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu left">
											<li><a href="header-1.html" class="dez-page">Header 1</a></li>
											<li><a href="header-2.html" class="dez-page">Header 2</a></li>
											<li><a href="header-3.html" class="dez-page">Header 3</a></li>
											<li><a href="header-4.html" class="dez-page">Header 4</a></li>
											<li><a href="header-5.html" class="dez-page">Header 5</a></li>
										</ul>
									</li>
									<li><a href="#">Footer <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu left">
											<li><a href="footer-1.html" class="dez-page">Footer 1</a></li>
											<li><a href="footer-2.html" class="dez-page">Footer 2</a></li>
											<li><a href="footer-3.html" class="dez-page">Footer 3</a></li>
											<li><a href="footer-4.html" class="dez-page">Footer 4</a></li>
											<li><a href="footer-5.html" class="dez-page">Footer 5</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="contact.html" class="dez-page">Contact Us</a></li>
						</ul>
					</div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="bnr-inr bg-pt" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="bnr-inr-entry">
                    <h1>Blog grid 3 with sidebar</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>Blog grid 3 with sidebar</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <div class="content-area">
            <div class="container">
                <div class="row">
                    <!-- left part start -->
                    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-7">
                        <div class="row">
                            <!-- blog grid -->
                            <div id="masonry" class="blog-grid-3">
								<div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic1.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                                <div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic2.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                                <div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic3.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                                <div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic4.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                                <div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic1.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                                <div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic2.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                                <div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic3.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic4.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                                <div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic1.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                                <div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic2.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                                
                                <div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic3.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                                <div class="post card-container col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
									<div class="blog-grid blog-rounded theme-blog">
										<div class="post-media img-effect "> <a href="#"><img src="images/blog/grid/pic4.jpg" alt=""></a> 
											<ul class="blog-categories">
												<li><a href="#">Finance</a></li>
												<li><a href="#">Market</a></li>
											</ul>
										</div>
										<div class="info p-tb20">
											<div class="post-title ">
												
												<h5 class="post-title fw5"><a href="#">US Stocks Are Expensive</a></h5>
											</div>
											<div class="post-meta">
												<ul>
													<li class="post-date">17 August 2016</li>
													<li class="post-author">By <a href="#">Jone</a></li>
												</ul>
											</div>
											<div class="post-text">
												 <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
											</div>
										   <div class="post-readmore blog-share"> 
												<a href="#" title="Read More" rel="bookmark" class="site-button-link border-link sharp">Read More
													<i class="fa fa-angle-double-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
                            </div>
                            <!-- blog grid END -->
                            <!-- Pagination -->
                            <div class="pagination-bx clearfix col-md-12 text-center">
								<ul class="pagination">
									<li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li class="next"><a href="#">Next <i class="fa fa-angle-double-right"></i></a></li>
								</ul>
							</div>

                            <!-- Pagination END -->
                        </div>
                    </div>
                    <!-- left part END -->
                    <!-- Side bar start -->
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 sticky-top">
                        <aside  class="side-bar">
                            <div class="widget">
                                <h6 class="widget-title style-1">Search</h6>
                                <div class="search-bx style-1">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="text" class="form-control" placeholder="Enter your keywords..." type="text">
                                            <span class="input-group-btn">
												<button type="submit" class="fa fa-search text-primary"></button>
                                            </span> 
										</div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget recent-posts-entry">
                                <h6 class="widget-title style-1">Recent Posts</h6>
                                <div class="widget-post-bx">
                                    <div class="widget-post clearfix">
                                        <div class="post-media"> <img src="images/blog/recent-blog/pic1.jpg" width="200" height="143" alt=""> </div>
                                        <div class="post-info">
                                            <div class="post-header">
                                                <h6 class="post-title"><a href="#">US Stocks Are Expensive</a></h6>
                                            </div>
                                            <div class="post-meta">
                                                <ul>
                                                    <li class="post-author">By Jone</li>
                                                    <li class="post-comment"><i class="ti-comment-alt"></i> 28</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="post-media"> <img src="images/blog/recent-blog/pic2.jpg" width="200" height="160" alt=""> </div>
                                        <div class="post-info">
                                            <div class="post-header">
                                                <h6 class="post-title"><a href="#">US Stocks Are Expensive</a></h6>
                                            </div>
                                            <div class="post-meta">
                                                <ul>
                                                    <li class="post-author">By Jone</li>
                                                    <li class="post-comment"><i class="ti-comment-alt"></i> 28</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="post-media"> <img src="images/blog/recent-blog/pic3.jpg" width="200" height="160" alt=""> </div>
                                        <div class="post-info">
                                            <div class="post-header">
                                                <h6 class="post-title"><a href="#">US Stocks Are Expensive</a></h6>
                                            </div>
                                            <div class="post-meta">
                                                <ul>
                                                    <li class="post-author">By Jone</li>
                                                    <li class="post-comment"><i class="ti-comment-alt"></i> 28</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							
							<div class="widget widget-newslatter">
                                <h6 class="widget-title style-1">Newsletter</h6>
                                <div class="news-box">
									<p>Enter your e-mail and subscribe to our newsletter.</p>
                                    <form class="dazSubscribe" action="script/mailchamp.php" method="post">
										<div class="dazSubscribeMsg"></div>
                                        <div class="input-group">
                                            <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email"/>
											<button name="submit" value="Submit" type="submit" class="site-button btn-block radius-no">Subscribe Now</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
							
							 <div class="widget widget_gallery gallery-grid-4">
                                <h6 class="widget-title style-1">Our services</h6>
                                <ul>
                                    <li><div><a href="#" class="post-thum img-overlay1 img-effect zoom-slow"><img src="images/gallery/pic2.jpg" alt=""></a></div></li>
                                    <li><div><a href="#" class="post-thum img-overlay1 img-effect zoom-slow"><img src="images/gallery/pic1.jpg" alt=""></a></div></li>
                                    <li><div><a href="#" class="post-thum img-overlay1 img-effect zoom-slow"><img src="images/gallery/pic5.jpg" alt=""></a></div></li>
                                    <li><div><a href="#" class="post-thum img-overlay1 img-effect zoom-slow"><img src="images/gallery/pic7.jpg" alt=""></a></div></li>
                                    <li><div><a href="#" class="post-thum img-overlay1 img-effect zoom-slow"><img src="images/gallery/pic8.jpg" alt=""></a></div></li>
                                    <li><div><a href="#" class="post-thum img-overlay1 img-effect zoom-slow"><img src="images/gallery/pic9.jpg" alt=""></a></div></li>
									<li><div><a href="#" class="post-thum img-overlay1 img-effect zoom-slow"><img src="images/gallery/pic3.jpg" alt=""></a></div></li>
                                    <li><div><a href="#" class="post-thum img-overlay1 img-effect zoom-slow"><img src="images/gallery/pic4.jpg" alt=""></a></div></li>
                                </ul>
                            </div>
							
                            <div class="widget widget_archive">
                                <h6 class="widget-title style-1">Categories List</h6>
                                <ul>
                                    <li><a href="#">aciform</a></li>
                                    <li><a href="#">championship</a></li>
                                    <li><a href="#">chastening</a></li>
                                    <li><a href="#">clerkship</a></li>
                                    <li><a href="#">disinclination</a></li>
                                </ul>
                            </div>
							<div class="widget widget-project">
                                <h6 class="widget-title style-1">Our Project</h6>
                                <div class="widget-project-box owl-none owl-loaded owl-theme owl-carousel dots-style-1 owl-dots-black-full">
									<div class="item"><img src="images/our-services/pic1.jpg" alt=""/></div>
									<div class="item"><img src="images/our-services/pic2.jpg" alt=""/></div>
									<div class="item"><img src="images/our-services/pic3.jpg" alt=""/></div>
								</div>
                            </div>
                           
                            <div class="widget widget_tag_cloud radius">
                                <h6 class="widget-title style-1">Tags</h6>
                                <div class="tagcloud"> 
									<a href="#">Design</a> 
									<a href="#">User interface</a> 
									<a href="#">SEO</a> 
									<a href="#">WordPress</a> 
									<a href="#">Development</a> 
									<a href="#">Joomla</a> 
									<a href="#">Design</a> 
									<a href="#">User interface</a> 
									<a href="#">SEO</a> 
									<a href="#">WordPress</a> 
									<a href="#">Development</a> 
									<a href="#">Joomla</a> 
									<a href="#">Design</a> 
									<a href="#">User interface</a> 
									<a href="#">SEO</a> 
									<a href="#">WordPress</a> 
									<a href="#">Development</a> 
									<a href="#">Joomla</a> 
								</div>
                            </div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Left & right section END -->
    <!-- Content END-->
<!-- Footer -->
    <footer class="daz-footer text-uppercase daz-footer-img">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-md-3 col-5 col-xl-2 col-lg-2 col-sm-6 footer-col-4">
                        <div class="widget widget_services border-0">
                            <h5 class="m-b30 text-white">Company</h5>
                            <ul>
                                <li><a href="index.html">About Us </a></li>
                                <li><a href="index.html">Home </a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="about-1.html">About Us</a></li>
                                <li><a href="services-2.html">Our Services</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-md-3 col-7 col-xl-2 col-lg-3 col-sm-6 footer-col-4">
                        <div class="widget widget_services border-0">
                            <h5 class="m-b30 text-white">Useful Link</h5>
                            <ul>
                                <li><a href="index.html">Create Account</a></li>
                                <li><a href="index.html">Company Philosophy </a></li>
                                <li><a href="contact.html">Corporate Culture</a></li>
                                <li><a href="about-1.html">Portfolio</a></li>
                                <li><a href="services-2.html">Client Management</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-md-6 col-xl-4 col-lg-3 col-sm-6 footer-col-4">
                        <div class="widget widget_getintuch">
                            <h5 class="m-b30 text-white ">Contact us</h5>
                            <ul>
                                <li><i class="ti-location-pin"></i><strong>address</strong> Demo Address #05A Mahesh Nagar Dummy Road, United Kingdom </li>
                                <li><i class="ti-mobile"></i><strong>phone</strong>0123-001234 (24/7 Support Line)</li>
								<li><i class="ti-email"></i><strong>email</strong>info@example.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 col-lg-4 col-sm-6 footer-col-4 ">
                        <div class="widget daz-newsbox">
                            <h5 class="m-b30 text-white">Subscribe To Our Newsletter</h5>
							<p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the..</p>
                            <div class="subscribe-form m-b20">
								<form class="dazSubscribe" action="script/mailchamp.php" method="post">
									<div class="dazSubscribeMsg"></div>
									<div class="input-group">
										<input name="dzEmail" required="required"  class="form-control" placeholder="Your Email Address" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button white radius-xl">Subscribe</button>
										</span> 
									</div>
								</form>
							</div>
							<ul class="list-inline m-a0">
								<li><a href="#" class="site-button facebook circle "><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="site-button linkedin circle "><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="site-button instagram circle "><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2018 DazzlerSoft</span> </div>
                    <div class="col-md-6 col-sm-6 text-right "> 
						<div class="widget-link "> 
							<ul>
								<li><a href="about-2.html"> About</a></li> 
								<li><a href="help-desk.html"> Help Desk</a></li> 
								<li><a href="privacy-policy.html"> Privacy Policy</a></li> 
							</ul>
						</div>
					</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <!-- scroll top button -->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/carousel.js"></script><!-- SORTCODE FUCTIONS  -->


<script src="js/ajax.js"></script><!-- CONTACT JS  -->
 

</body>
</html>
